/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Teko:wght@400;500&display=swap');

:root {
    --primary-colour:rgb(255, 153, 51);
    --secondary-colour:hsl(0, 17%, 98%);
    --tertiary-colour:hsl(0, 1%, 15%);
    --background-colour:rgba(60, 57, 57, 0.4);
}
html {
    --scrollbarBG: var(--tertiary-colour);
    --thumbBG:var(--primary-colour);
    scroll-behavior: smooth;
  }
  body::-webkit-scrollbar {
    width: 4px;
  }
  
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 9px;
    border: 1px solid var(--scrollbarBG);
  }

body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    background-color: var(--tertiary-colour);
    font-family:'teko';
}
header{position: fixed;
       top: 0; 
       left: 0; 
       z-index: 9999; 
       width: 100%; height: 70px; 
       background-color:var(--secondary-colour)
    }

nav {
    color: var(--tertiary-colour);
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
    margin: 0 1em;
    
}
nav a:hover {color: var(--primary-colour);
    border-bottom: .1em solid var(--primary-colour);

}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3em;
}
nav ul li {
    display:inline;
    padding: 0 20px 0 0;
    font-size:1.5em; ;

}

#background-img {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/code-background.png");
    background-size: cover;
    background-position: center;
    opacity: 0.1;
}

.intro {
    height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content:space-around;
    margin-bottom: 10em;
}

.intro h1 {
    color: var(--secondary-colour);
    font-size: 6em;
    font-weight: 500;

}
.explination-point {
    color: var(--primary-colour);
}

.intro p {
    color: var(--primary-colour);
    font-size: 1.8em;
    line-height: 1.8em;
    padding-top: 10px;
    font-weight: 300;
}

button {
    background-color: var(--secondary-colour);
    padding: .4em 1.3em;
    border: solid 3px var(--primary-colour);
    border-radius: 32px;
    font-size: 1.5em;
    color: var(--primary-colour);
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(255, 153, 51, 0.4);
    animation: pulse 2s infinite;
}
button:hover {
    color: var(--secondary-colour);
    background-color: var(--primary-colour);
    border-color: var(--secondary-colour);
    animation: none;
}
@-webkit-keyframes pulse {
    0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 153, 51, 0,6);
    }
    70% {
    -Webkit-box-shadow: 0 0 0 10px rgba(255, 153, 51, 0)
; }
    100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 153, 51, 0);
    }
}
    @keyframes pulse {
    0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 153, 51, 0,6);
     box-shadow: 0 0 0 0 rgba(255, 153, 51, 0.6);
    }
    70% { 
    -moz-box-shadow: 0 0 0 10px rgba(255, 153, 51, 0);
     box-shadow: 0 0 0 10px rgba(255, 153, 51, 0);
    }
    100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 153, 51, 0); 
    box-shadow: 0 0 0 0 rgba(255, 153, 51, 0);
    }
    }

.flex-container {
    padding: 4em 0em;
    margin-top: 2em 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--background-colour);
}
.flex-item {
    border: 2px solid var(--primary-colour);
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
    min-height: 210px;
    display:grid;
    align-items:flex-end;
    flex-basis: calc(40% - 1em);
    margin: 1.7em;
    text-decoration: none;
}
.flex-item h2 {
    background-color: var(--secondary-colour);
    padding: .3em 0 .8em .5em;
    font-size: 1.5em;
}
.flex-item h2:hover {
    background-color: var(--primary-colour);
    color: var(--secondary-colour);

}

.flex-item:first-child {
    min-height: 290px;
    flex-basis: 55%;
}

.first {
    background-image: url(../images/02-portfolio-1.jpg);
    
}
.second {
    background-image: url(../images/02-portfolio-2.jpg);

}

.third {
    background-image: url(../images/02-portfolio-3.jpg);
}
.forth {
    background-image: url(../images/02-portfolio-4.jpg);
}
.fifth {
    background-image: url(../images/02-run-buddy.jpg);
}
.first, .second, .third, .forth, .fifth {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}

    footer {
        background-color: var(--primary-colour);
        display: flex;
        justify-content: center;
    
    }
    footer ul {
        display: flex;
        margin: 1.5em;

    }
    footer ul li{
        padding-right: 1.8em;
    }
    .links a:hover {
        color: var(--secondary-colour);
    }

    @media screen and (max-width:820px) {
      header {
        width: 100vw;
        
      }  
      .intro{
        width: 85vw;
        height: 30vh;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 7em;
        
      }
      .intro h1 {
        font-size: 6em;
        margin-top: 0;
      }
      .intro p {
        font-size: 1.6em;
      }
button {
    position: absolute;
    top: 6em;
    right: 3em;
    padding:.5em;
}
}
@media screen and (max-width:375px){
    .flex-item, .flex-item:first-child{
        flex-basis:100%;
    }
    .flex-item:first-child{
        min-height:150px;
    }
    
    nav ul {font-size: .7em;
    margin-left: 5em;}

    .intro {padding-left: 15px;}

    .intro h1 {
        font-size: 3em;
    }

    .intro p {font-size: 1em;}

    button {padding: .3em;
    font-size: 1em;
position:absolute;

right: 15px;}

footer {
    font-size: 10px;


}

}