/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

:root {
    --primary-colour:hsl(30, 100%, 60%);
    --secondary-colour:hsl(0, 17%, 98%);
    --tertiary-colour:hsl(0, 1%, 15%);
    --background-colour:hsl(0, 3%, 23%);
}
html {
    --scrollbarBG: var(--tertiary-colour);
    --thumbBG:var(--primary-colour);
  }
  body::-webkit-scrollbar {
    width: 4px;
  }
  
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 9px;
    border: 1px solid var(--scrollbarBG);
  }

body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    background-color: var(--tertiary-colour);
}
header{position: fixed;
       top: 0; 
       left: 0; 
       z-index: 9999; 
       width: 100%; height: 70px; 
       background-color:var(--secondary-colour)
    }

nav {
    color: var(--tertiary-colour);
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
    margin: 0 1em;
    
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2em;
}
nav ul li {
    display:inline;
    padding: 0 20px 0 0;

}

#background-img {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/background-img.png");
    background-size: cover;
    background-position: center;
}

.intro {
    height: 80vh;
    display: flex;
    align-items: flex-end;
    justify-content:space-around;
    margin-bottom: 10em;
}

.intro h1 {
    color: var(--secondary-colour);
    font-size: 5.7em;

}
.intro p {
    color: var(--primary-colour);
    font-size: 1.6em;
    line-height: 1.8em;
    padding-top: 10px;
}

button {
    background-color: var(--secondary-colour);
    padding: .6em .8em;
    border: solid 3px var(--primary-colour);
    border-radius: 30px;
    font-size: 1.5em;
    color: var(--primary-colour);
}

.flex-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--background-colour);
}
.flex-item {
    border: 2px solid var(--primary-colour);
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
    min-height: 210px;
    display:grid;
    align-items:flex-end;
    flex-basis: calc(40% - 1em);
    padding: 0 0px 0px 0;
    margin: 1.7em;
    text-decoration: none;
}
.flex-item h2 {
    background-color: var(--secondary-colour);
    padding: .5em 0 2em 1em;
}

.flex-item:first-child {
    min-height: 290px;
    flex-basis: 55%;
}
.first {
    background-image: url(../images/02-portfolio-1.jpg);
    
}
.second {
    background-image: url(../images/02-portfolio-2.jpg);

}

.third {
    background-image: url(../images/02-portfolio-3.jpg);
}
.forth {
    background-image: url(../images/02-portfolio-4.jpg);
}
.fifth {
    background-image: url(../images/02-run-buddy.jpg);
}
.first, .second, .third, .forth, .fifth {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}